@import url("https://fonts.googleapis.com/css?family=Mukta:500");

$dark_theme: #010409;
$white_theme: #fff;

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: $dark_theme;
  /*font-family: 'Mukta', sans-serif; */
  font-family: "Share Tech Mono", monospace;
}

* {
  box-sizing: border-box;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36 * 2px;
  height: 36 * 2px;
  border-radius: 50%;
  margin: 10%;
  border-left-color: rgb(255, 0, 0);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.home__container {
  background-image: url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/05.jpg);
  background-size: cover;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__group {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.black__title {
  color: rgb(46, 46, 46);
  font-size: 3rem;
  font-weight: 600;
}

.title {
  font-size: 3rem;
  font-weight: 600;
}

.black__description {
  font-size: 1.5rem;
  color: #010409;
  text-align: center;
  font-weight: 600;
}

.description {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.card {
  padding-top: 5er;
  box-shadow: 0px 2px 20px var(--clr-gray200);
  border-radius: var(--radius);
  overflow: hidden; /* to make radius visible */
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between; /* Put view recipe at the end of the container */
}

.card img {
  height: 12rem;
  width: 100%; /* extend the entire card with*/
  object-fit: cover;
  transition: transform 200ms ease-in;
}

.card-title {
  padding: 1rem;
}

.card-description {
  padding: 0 1rem;
}

.card-btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid var(--clr-primary);
  background: transparent;
  color: var(--clr-primary);
  border-radius: var(--radius);
  transition: background 200ms ease-in, color 200ms ease-in;
}

footer {
  width: 100%;
  height: 100px;
  padding-top: 3rem;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.smallBtn {
  height: 40px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  width: 200px;
  border: 2px solid #3f3f3f;
  border-radius: 200px;
  transition: color 0.5s ease, border-color 0.15s ease;
  &:hover {
    cursor: pointer;
    color: #f30000;
    border-color: #7a0000;
  }
}

