$dark_theme: #010409;
$white_theme: white;

html,
body {
  padding: 0;
  margin: 0;
  background-color: $dark_theme;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

nav,
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  position: relative;
  padding: 2rem;
  transition: 0.5s;
  overflow: hidden;
}

.menu {
  li {
    list-style: none;
    margin: 0 1rem;
    a {
      cursor: pointer; 
      text-decoration: none;
      color: #666;
      text-transform: uppercase;
      font-weight: 600;
      transition: 0.5s;
      
      &:hover {
        color: #f30000;
        border-color: #7a0000;
      }
    }
  }
}

@media (max-width: 520px) {
  nav, .menu{
    justify-content: left;
    align-items: stretch;
    flex-direction: column;
  }
}
